[Desktop Entry]
Name=Calibre-Web
Type=Application
Exec=/usr/bin/chromium-browser --new-window --app="https://{{ calibreweb.domain }}"
GenericName={{ calibreweb.domain }}
Comment=
{# https://specifications.freedesktop.org/menu-spec/menu-spec-1.0.html#category-registry #}
Categories=Office;Viewer;Literature;
Keywords=library;calibre;webapp;ebook;pdf;epub;calibreweb;
StartupWMClass=chromium-app-calibreweb
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
