[Unit]
Description=Calibre-web

[Service]
Type=simple
User={{ ansible_env.USER }}
{# https://unix.stackexchange.com/questions/455261/how-to-set-environmental-variable-in-systemd-service #}
{# https://serverfault.com/questions/868373/how-to-use-variables-in-a-systemd-service-file #}
Environment="CALIBRE_PORT={{ calibreweb.port }}"
ExecStart={{ calibreweb.repo }}/venv/bin/python {{ calibreweb.repo }}/cps.py -i {{ calibreweb.interface }}
WorkingDirectory={{ calibreweb.repo }}

[Install]
WantedBy=multi-user.target
